head{
    display: inline-block;
    color: rgba(25, 38, 92, 0.708);
}

html{
    background-color: rgba(73, 51, 124, 0.387);
}

h1{
    color: rgb(122, 67, 35);
}

h2{
    color: rgb(126, 58, 41);
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(205, 82, 58, 0.75);
}


.roboto-slab-title {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}