head{
    display: inline-block;
    color: peachpuff;
}

html{
    background-color: rgba(73, 51, 124, 0.387);
}

h1{
    font-family: ;
    color: rgb(170, 105, 67);
}

h2{
    color: rgb(186, 126, 120);
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(238, 170, 170);
}

