head{
    display: inline-block;
    color: peachpuff;
}

html{
    background-color: beige;
}

h1{
    font-family: ;
    color: darkred;
}

h2{
    color: lightsalmon;
}

p{
    font-family: 'Times New Roman', Times, serif;
}